body {

    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    display: block;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    color: rgb(180, 180, 180);
    padding: 0px;
    margin-top: 0px;
    background-color: rgb(23, 14, 48);

}

#high-scores-list.high-scores-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 0%;
}


.intro {

    display: flex;
    margin-left: 20%;
    margin-right: 20%;


}

.quiz-container {

    display: flex;
    margin-left: 10%;
    margin-right: 10%;


}

header {
    background-color: rgb(113, 39, 173);
    padding: 0%;
    box-shadow: 0px 10px;
    color: rgb(0, 0, 0);

}

.question {

    background-color: rgb(141, 114, 206);
    padding: 5%;
    margin: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 10px 10px;
}


.start-button {

    background-color: rgb(68, 21, 68);
    padding: 0%;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 40px;
    color: rgb(228, 228, 228);
    padding: 20px;
    margin-top: 0px;
    border-radius: 25px;
}


.choice {

    background-color: rgb(0, 0, 0);
    padding: 0%;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 14px;
    border-radius: 25px;
    width: 300px;
}



.nav-header {

    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    padding-bottom: 20px;
    font-size: 20px;
    color: rgb(202, 202, 202);
    margin-top: 0px;
    width: 100%;

}


#high-scores-button.highscores {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(86, 29, 133);
    color: rgb(255, 158, 255);
    padding-left: 1%;
    padding-right: 1%;

}

li.title {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li#score.timer {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(86, 29, 133);
    color: rgb(202, 202, 202);
    padding-left: 1%;
    padding-right: 1%;

}

li#timer.timer {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(86, 29, 133);
    color: rgb(202, 202, 202);
    padding-left: 0%;
    padding-right: 1%;

}

#yes-text.result-container3 {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 255, 0);
    padding-left: 0%;
    padding-right: 1%;

}

#btnClear.clear {

    background-color: rgb(68, 21, 68);
    padding: 0%;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 40px;
    color: rgb(228, 228, 228);
    padding: 20px;
    margin-top: 0px;
    border-radius: 25px;
}


#btnBack.back {

    background-color: rgb(68, 21, 68);
    padding: 0%;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 40px;
    color: rgb(228, 228, 228);
    padding: 20px;
    margin-top: 0px;
    border-radius: 25px;
}

#btnEnter.enter {

    background-color: rgb(68, 21, 68);
    padding: 0%;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 40px;
    color: rgb(228, 228, 228);
    padding: 20px;
    margin-top: 0px;
    border-radius: 25px;
}

#text-box.text {

    background-color: rgb(0, 0, 0);
    padding: 0%;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-size: 40px;
    color: rgb(228, 228, 228);
    padding: 20px;
    margin-top: 0px;
    border-radius: 25px;
}




#no-text.result-container4 {
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(253, 0, 0);
    padding-left: 0%;
    padding-right: 1%;

}



.nav-header li {


    padding-left: 5%;
    padding-right: 5%;


}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: transparent;
    border-image: initial;
}


@media (max-width: 715px) {
    body {

        font-size: 15px;
    }

    .question {

        font-size: 20px;
    }

    .intro {
        margin: 5%;
    }

    #welcome.intro {

        font-size: 16px;
    }

    .choice {
        
        margin: 0%;
        margin-top: 7%;
        margin-bottom: 2%;
        padding: 2%;
        font-size: 20px;
        width: 100%;
    }

    li.title {
        font-size: 15px;
    }
   
    #btnClear.clear {

        font-size: 15px;
    }
    
    
    #btnBack.back {
    
        font-size: 20px;
    }
    
    #btnEnter.enter {
    
        font-size: 20px;
    }
    
    #text-box.text {
    
        
        font-size: 15px;
        
    }
    .start-button {

        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 300px) {
    #welcome.intro {

        font-size: 10px;
    }

    #high-scores-button.highscores {
        font-size: 10px;
    
    }
    
    li.title {
        font-size: 10px;
    }
    
    li#score.timer {
        font-size: 10px;
    
    }
    
    li#timer.timer {
        font-size: 10px;
    
    }
    #text-box.text {
        padding: 5%;
        margin: 1%;
        font-size: 12px;
        
    }
    #btnEnter.enter {
        margin: 2%;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 30%;
        padding-right: 30%;
        font-size: 20px;
    }
    
}